#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;

  flex-direction: column;
  justify-content: space-between;
}

.content .location {
  position: absolute;
  right: 0;
  top: 0;
}

.content .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;
}
